{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% for movie in movies %}
  <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Technologies </h3>
        <hr class="bg-dark mb-4 w-25">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">HTML</h4>
                        <p class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
